html,
body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    font-family: 'Roboto', bold;
}

#BarraLateral {
    background-color: #16402B;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0%;
    padding: 0%;
}

#BarraLateral nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

#BarraLateral li {
    margin: 1rem;
    margin-left: 35px;
    display: flex;
    align-items: center;
}

#BarraLateral h1,
a {
    color: white;
    text-decoration: none;
    text-align: center; 
}

#BarraLateral img {
    margin: 0%;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

main {
    width: 80%;
    padding: 2rem;
    overflow-y: auto;
    font-family: 'Roboto', bold;
}

main form {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', bold;
}

main label {
    font-size: 1.5rem;
    margin-top: 2rem;
}

main input {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 15px;
    background-color: #D9D9D9;
    border: none;
    height: 40px;
    width: 1165px;
}

main h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

form label {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    margin: 5px;
}

#DataPesagem {
    width: 40%;
}

#botoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancelar,
#salvar {
    padding: 0.75rem 1.5rem;
    margin: 1rem; 
    margin-top: 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    width: 10rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#salvar {
    font-family: 'Roboto', bold;
    background-color: #16402B;
    color: white;
}

#cancelar {
    background-color: #a52a2a;
    color: white;
}

#salvar:hover {
    background-color: #0f2419;
}

#cancelar:hover {
    background-color: #fc9393;
    color: black;
}