<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesagem de leite</title>
    <link rel="stylesheet" href="Animais.css">
</head>

<body>
    <div id="BarraLateral">
        <h1>Milk Gest</h1>
        <nav>
            <ul>
                <li><img src="./imagens/botao-de-inicio.png" alt=" simbolo home"><a href="index.html">Inicio</a></li>
                <li><img src="./imagens/vaca.png" alt=" simbolo animais"><a href="Animais.html">Animais</a></li>
                <li><img src="./imagens/leite.png" alt=" simbolo pesagem"><a href="PesagemLeite.html">Pesagem de
                        Leite</a></li>
                <li><img src="./imagens/reproducao.png" alt=" simbolo reproducao"><a
                        href="Reproducao.html">Reprodução</a></li>
                <li><img src="./imagens/remedio.png" alt=" simbolo medicacao"><a href="Medicacao.html">Medicação</a>
                </li>
            </ul>
        </nav>
    </div>
    <main>
        <h1>Pesagens de Leite</h1>
        <section class="RegistroAnimal">
            <a href="RegistroPesagens.html"><button id="botao-cadastro">Cadastrar Nova Pesagem</button></a>
        </section>
        <table id="tabela-animais">
            <thead>
                <tr>
                    <th>Número do animal</th>
                    <th>Quantidade(L)</th>
                    <th>Data da Pesagem</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>12</td>
                    <td>14/03/1992</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>45</td>
                    <td>22/07/1985</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>08</td>
                    <td>30/11/2001</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>004</td>
                    <td>15</td>
                    <td>05/01/1998</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>005</td>
                    <td>33</td>
                    <td>19/09/1979</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>006</td>
                    <td>21</td>
                    <td>12/12/1994</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>007</td>
                    <td>07</td>
                    <td>25/04/2003</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>008</td>
                    <td>50</td>
                    <td>08/06/1982</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>009</td>
                    <td>19</td>
                    <td>17/02/1996</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>010</td>
                    <td>04</td>
                    <td>29/10/1990</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>011</td>
                    <td>62</td>
                    <td>11/05/1987</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>012</td>
                    <td>27</td>
                    <td>03/08/2000</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>013</td>
                    <td>14</td>
                    <td>21/01/1993</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>014</td>
                    <td>09</td>
                    <td>13/07/1984</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>015</td>
                    <td>31</td>
                    <td>06/03/1999</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>016</td>
                    <td>18</td>
                    <td>24/09/1975</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>017</td>
                    <td>22</td>
                    <td>15/11/2002</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>018</td>
                    <td>05</td>
                    <td>02/02/1989</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>019</td>
                    <td>41</td>
                    <td>28/08/1991</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
                <tr>
                    <td>020</td>
                    <td>13</td>
                    <td>10/04/1997</td>
                    <td><button class="editar">Editar</button></td>
                </tr>
            </tbody>
        </table>
        <section class="paginacao">
            <button onclick="mudarPagina(1)" id="btn1">1</button>
            <button onclick="mudarPagina(2)" id="btn2">2</button>
        </section>
    </main>

    <div id="overlay" class="overlay"></div>


    <div id="modalEditar">
        <h2>Editar Registro</h2>
        <input type="text" id="editNumero" placeholder="Número">
        <input type="number" id="editQtd" placeholder="Quantidade">
        <input type="text" id="editData" placeholder="Data">
        <button onclick="Salvar()">Salvar Alterações</button>
        <button onclick="fecharModal()">Cancelar</button>
    </div>




</body>
<script src="PesagemLeite.js"></script>

</html>
